
body {
    background-color: black;
    background: url(../images/background.jpg) no-repeat center center fixe
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#map{
  height:500px;
  width: 800px;
}

