
body {
    background-color: black;
    background: url(../images/background.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#map{
  height:500px;
  width: 700px;
}

.nav>li>a {
    position: relative;
    display: block;
    padding: 20px 40px 20px 20px;
}


#login, #register {
  padding: 0px 400px;
}
