
body {
    /*background-color: black;*/
    /*background: url(../images/background.jpg) no-repeat center center fixed;*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#map{
  height:500px;
  width: 700px;
}

.nav>li>a {
    position: relative;
    display: block;
    padding: 20px 40px 20px 20px;
}


.navbar-default {
  /*background-color:#cccccc ;*/
  border-bottom: 4px solid #36B3A8;
}


.navbar-default .navbar-brand{
  color:#36B3A8;
}

.spots {
  border: 2px solid #36B3A8;
}


.form-control:focus{
    outline: none !important;
    border:2px solid #36B3A8 !important;
    box-shadow: 0 00px 5px #36B3A8 !important;
}

#login, #register {
  padding: 0px 400px;
}
