
<form class="addSpot hidden" method="post" action="/addspot">
  <fieldset class="form-group">
    <label for="name">Name</label>
    <input type="text" name="spot[name]" class="form-control" placeholder="Name">
  </fieldset>
  <fieldset class="form-group">
    <label for="zenType">Zen Type</label>
    <input type="text" name="spot[zenType]" class="form-control" placeholder="zenType">
  </fieldset>
  <fieldset class="form-group">
    <label for="location">Location</label>
    <input type="location" name="spot[location]" class="form-control" placeholder="Location">
  </fieldset>
  <fieldset class="form-group">
    <label for="rating">Rating</label>
    <input type="text" name="spot[rating]" class="form-control" placeholder="Rating">
  </fieldset>
  <fieldset class="form-group">
    <label for="latitude">latitude</label>
    <input type="text" name="spot[latitude]" class="form-control" placeholder="latitude">
  </fieldset>
  <fieldset class="form-group">
    <label for="longitude">longitude</label>
    <input type="text" name="spot[longitude]" class="form-control" placeholder="Longitude">
  </fieldset>
<button type="submit" class="btn btn-default">Submit</button>
</form>
