
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="3000">
<!-- Indicators -->
<ol class="carousel-indicators">
  <li data-slide-to="0" class="active"></li>
  <li data-slide-to="1"></li>
  <li data-slide-to="2"></li>
  <li data-slide-to="3"></li>
</ol>

<!-- Wrapper for slides -->
<div class="carousel-inner">
  <div class="item active" style="background-image:url(/images/Battersea_Park_Peace_Pagoda.jpg);">
    <div class="carousel-caption">
        <h3>Battersea Peace Park</h3>
    </div>
  </div>
  <div class="item" style="background-image:url(/images/British.Museum.original.20563.jpg);">
    <div class="carousel-caption">
        <h3>British Museum</h3>
    </div>
  </div>
  <div class="item" style="background-image:url(/images/London-Thames-River-Sunset-t1.jpg);">
    <div class="carousel-caption">
        <h3>Thames River</h3>
    </div>
  </div>
  <div class="item" style="background-image:url(/images/London-Victoria_and_Albert_Museum-Library-01.jpg);">
    <div class="carousel-caption">
        <h3>V&amp;A Museum Library</h3>
    </div>
  </div>
</div>
