
 <form class="register" method="post" action="/register">
  <div class="form-group">
    <label for="username">Username</label>
    <input type="text" name="user[username]" class="form-control" placeholder="Username">
  </div>
  <div class="form-group">
    <label for="email">Email</label>
    <input type="text" name="user[email]" class="form-control" placeholder="Email">
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" name="user[password]" class="form-control" placeholder="Password">
  </div>
  <div class="form-group">
    <label for="passwordConfirmation">Confirm Password</label>
    <input type="password" name="user[passwordConfirmation]" class="form-control" placeholder="Confirm Password">
  </div>
  <div class="form-group">
    <label for="dob">DOB</label>
    <input type="text" name="user[dob]" class="form-control" placeholder="dd/mm/yyyy">
  </div>
  <div class="form-group">
    <label for="preferredZen">Preferred Zen</label>
    <input type="text" name="user[preferredZen]" class="form-control" placeholder="Preferred Zen">
  </div>
  <div class="form-group">
    <label>Gender</label>
    <select class="form-control">
      <option>Male</option>
      <option>Female</option>
    </select>
  </div>
  <div class="form-group">
    <label>Image</label>
    <input type="text" name="user[avatar]" class="form-control" placeholder="image URL">
  </div>
<button type="submit" class="btn btn-default">Submit</button>
</form>
