<form class="updateSpot" method="put">
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" name="spot[name]" class="form-control" placeholder="Name">
  </div>
  <div class="form-group">
    <label for="zenType">Zen Type</label>
    <input type="text" name="spot[zenType]" class="form-control" placeholder="zenType">
  </div>
  <div class="form-group">
    <label for="rating">Rating</label>
    <input type="text" name="spot[rating]" class="form-control" placeholder="1-5">
  </div>
  <div class="form-group">
    <label for="lat">Latitude</label>
    <input type="text" name="spot[lat]" class="form-control" placeholder="latitude">
  </div>
  <div class="form-group">
    <label for="lng">Longitude</label>
    <input type="text" name="spot[lng]" class="form-control" placeholder="Longitude">
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>